.row {
  color: #fff;
  padding: 10px;
}

.rowPosters {
  display: flex;
  padding: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.rowPoster {
  max-height: 150px;
  border-radius: 8px;
  box-shadow: 2px 4px 6px -2px #000;
  object-fit: contain;
  margin-right: 14px;
  transition: transform 450ms;
  opacity: 1;
}

.rowPoster:hover {
  transform: scale(1.08);
  opacity: 0.8;
  cursor: pointer;
}

.rowPosters::-webkit-scrollbar {
  display: none;
}

.row > h2 {
  margin: 0 20px;
}
