.hero {
  display: flex;
  height: 110vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 95, 95);
  /* background: url("https://images.cinemaexpress.com/uploads/user/imagelibrary/2019/5/17/original/john-wick-3-parabellum-movie-review-keanu-reeves.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

.content {
  /* border:1px solid white; */
  margin-top: 200px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 1100px;
  /* border:1px solid red; */
}

.content > h1 {
  font-size: 3.8rem;
  line-height: 100px;
}

.btn {
  margin-top: 20px;
  cursor: pointer;
  height: 50px;
  padding: 15px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.content > span {
  font-size: 12px;
  padding: 10px;
  color: rgb(219, 217, 217);
}

.contentCards {
  background-color: gray;
  height: 90vh;
}
